In [65]:
import pandas as pd
#Importing the dataset
df = pd.read_csv('Data.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
Country      10 non-null object
Age          9 non-null float64
Salary       9 non-null float64
Purchased    10 non-null object
dtypes: float64(2), object(2)
memory usage: 400.0+ bytes

In [66]:
df.describe()

             Age        Salary
count   9.000000      9.000000
mean   38.777778  63777.777778
std     7.693793  12265.579662
min    27.000000  48000.000000
25%    35.000000  54000.000000
50%    38.000000  61000.000000
75%    44.000000  72000.000000
max    50.000000  83000.000000

In [67]:
#Splitting this data iinto features and labels.
X = df.iloc[:,:-1];
print("type-",type(X))
print(X)
print(X.shape)

# Converted into numpy array.
x = df.iloc[:,:-1].values
print("type-",type(x))
print(x)
print(x.shape)

y = df.iloc[:,3].values
print("type-",type(y))
print(y)
print(y.shape)

type- <class 'pandas.core.frame.DataFrame'>
   Country   Age   Salary
0   France  44.0  72000.0
1    Spain  27.0  48000.0
2  Germany  30.0  54000.0
3    Spain  38.0  61000.0
4  Germany  40.0      NaN
5   France  35.0  58000.0
6    Spain   NaN  52000.0
7   France  48.0  79000.0
8  Germany  50.0  83000.0
9   France  37.0  67000.0
(10, 3)
type- <class 'numpy.ndarray'>
[['France' 44.0 72000.0]
 ['Spain' 27.0 48000.0]
 ['Germany' 30.0 54000.0]
 ['Spain' 38.0 61000.0]
 ['Germany' 40.0 nan]
 ['France' 35.0 58000.0]
 ['Spain' nan 52000.0]
 ['France' 48.0 79000.0]
 ['Germany' 50.0 83000.0]
 ['France' 37.0 67000.0]]
(10, 3)
type- <class 'numpy.ndarray'>
['No' 'Yes' 'No' 'No' 'Yes' 'Yes' 'No' 'Yes' 'No' 'Yes']
(10,)

In [68]:
# Splitting the dataset into training_set and test_set
from sklearn.cross_validation import train_test_split
from sklearn.preprocessing import Imputer
imputer = Imputer(missing_values = 'NaN', strategy = 'mean', axis = 0)
#Colums that contains only missing data.
imputer = imputer.fit(x[:, 1:3])
#Same columns (where missing data is present is transformed)
x[:, 1:3] = imputer.transform(x[:, 1:3])
#Help(Imputer)

In [69]:
#Now how to encode categorical data.
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
labelencoder_X = LabelEncoder()
x[:, 0] = labelencoder_X.fit_transform(x[:, 0])
print("Result after label encoding the x - \n",x)
#Encoding the dependent variable
labelencoder_y = LabelEncoder()
y = labelencoder_y.fit_transform(y)

Result after label encoding the x -
 [[0 44.0 72000.0]
 [2 27.0 48000.0]
 [1 30.0 54000.0]
 [2 38.0 61000.0]
 [1 40.0 63777.77777777778]
 [0 35.0 58000.0]
 [2 38.77777777777778 52000.0]
 [0 48.0 79000.0]
 [1 50.0 83000.0]
 [0 37.0 67000.0]]

In [70]:
#Here we need to specify also which column is considered to be categorical
onehotencoder = OneHotEncoder(categorical_features = [0])
#Now we do need to specify because we have specified it already.
x = onehotencoder.fit_transform(x).toarray()

In [71]:
#Splitting the dataset into training_set and testing_set
from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.2)

In [72]:
#Lets apply fetaure scaling-
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.transform(X_test)

Do we need to scale dummy variables ?? There is no one answer. Some suggest that why we need to scale it's already within range of 0 and 1. Some suggest that it's a goood practivce to scale because this will make all data on one scale.